body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  section {
    margin-bottom: 3rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .projecten {
    width: 100% !important;
    padding: 0 2rem;
  }
  .projecten .container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #studio .container {
    padding-top: 6rem !important;
    padding-bottom: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: inherit !important;
    padding-left: 1rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .slider-row {
    flex-direction: column-reverse !important;
  }
}

@media only screen and (max-width: 768px) {
  .site-nav {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .slider-row {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 768px) {
  .projecten-header {
    font-size: 2.5rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .header-logo {
    margin-left: 0 !important;
  }
}

img {
  object-fit: fill;
}

li {
  list-style: none;
}

.site-logo {
  width: 30px;
  height: 30px;
}

.border-round {
  border-radius: 50%;
}

.container {
  width: 80%;
  margin: auto;
}

section {
  width: 100%;
}
section .content {
  position: relative;
}
@media only screen and (max-width: 768px) {
  section .content .projecten-list ul {
    display: flex;
    padding-left: 0 !important;
  }
  section .content .projecten-list ul li {
    padding-left: 0 !important;
    padding-right: 1.75rem;
    font-size: 12px;
  }
}
section .content .projecten-list .active {
  color: #FFD100;
}
section .content .projecten-images .grid-div {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
@media only screen and (max-width: 768px) {
  section .content .projecten-images .grid-div {
    grid-template-columns: repeat(2, 1fr);
  }
}
section .content .projecten-images .active-grid {
  display: grid;
}
section .content .projecten-images .image-wrapper {
  position: relative;
  height: auto;
}
@media only screen and (max-width: 1400px) {
  section .content .projecten-images .image-wrapper {
    height: auto;
  }
}
section .content .projecten-images .image-wrapper img {
  width: 100%;
  height: 100%;
}
section .content .projecten-images .image-wrapper .bottom {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
section .content .projecten-images .image-wrapper .img-text {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 20px 32px;
  width: 100%;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  section .content .projecten-images .image-wrapper .img-text {
    padding: 2px 12px;
  }
  section .content .projecten-images .image-wrapper .img-text h2 {
    font-size: 1rem !important;
  }
  section .content .projecten-images .image-wrapper .img-text p {
    font-size: 0.75rem !important;
  }
}
section .content .projecten-images .image-wrapper:hover .bottom {
  opacity: 1;
}
section .section-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10%;
  width: 40%;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: start;
  height: 100%;
  z-index: 99;
}
@media only screen and (max-width: 768px) {
  section .section-text {
    width: 100%;
    font-size: 1rem;
    position: static;
  }
}
section .section-text p {
  padding: 1rem;
}
@media only screen and (max-width: 768px) {
  section .section-text p {
    padding: 1rem 2rem;
  }
}
section .slider {
  width: 100%;
  margin: auto;
  position: relative;
  font-size: 15px;
}
section .slider .slides-container {
  position: relative;
  width: 100%;
  height: auto;
}
section .slider .slides-container .slider-item {
  width: 100%;
  display: none;
}
section .slider .slides-container .slider-item img {
  object-fit: cover;
  width: 100%;
}
section .slider .slides-container .slider-item:first-child {
  display: block;
}
section .slider .pager {
  font-size: 14px;
  font-weight: 900;
  color: #777;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  section .slider .pager {
    padding: 0 2rem;
  }
}
section .slider .slider-loader {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}
section .slider .slider-loader .loader-wrapper {
  width: 70%;
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  section .slider .slider-loader .loader-wrapper {
    width: 100%;
  }
}
section .slider .slider-loader .loader-wrapper .lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
section .slider .slider-loader .loader-wrapper .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  margin: -4px 0 0 -4px;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
section .slider .slider-loader .loader-wrapper .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px) {
  section .slider .arrows {
    display: none;
  }
}
section .slider .arrows a {
  position: absolute;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  top: 50%;
  left: 15px;
  font-weight: 400;
  line-height: 1;
  font-size: 42px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  transform: translateY(-50%);
}
section .slider .arrows a:hover {
  color: #fff;
}
section .slider .arrows a.next {
  left: initial;
  right: 15px;
}
section .section-image .loader {
  position: absolute;
  /* text-align: center; */
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
}
section .section-image img {
  object-fit: fill;
}

.dot {
  margin-right: 5px;
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active-dot {
  background-color: #323232;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.studio-image img {
  width: 100%;
}

.content-text {
  position: relative;
}
.content-text h1 {
  color: #fff;
  font-size: 15rem;
  transform: translateX(-18rem);
  margin: 0;
}
@media only screen and (max-width: 1400px) {
  .content-text h1 {
    font-size: 12rem;
    transform: translateX(-14rem);
  }
}
@media only screen and (max-width: 768px) {
  .content-text h1 {
    font-size: 24vw;
    transform: translateY(-86vw);
  }
}
@media only screen and (max-width: 1400px) {
  .content-text p {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .content-text .visie-text {
    padding-left: 0 !important;
    transform: translateY(-5rem);
    width: 90%;
  }
  .content-text .visie-text h2 {
    font-size: 1.25rem !important;
    padding-bottom: 1rem;
  }
  .content-text .visie-text p {
    font-size: 12px !important;
    padding-left: 0 !important;
  }
}
@media only screen and (max-width: 768px) {
  .content-text .content-text__info-button-wrapper {
    padding-left: 0 !important;
  }
}

.pd-h-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.pd-h-lg-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.pd-v-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.pd-v-lg-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.pd-0 {
  padding: 0rem;
}

.pdt-0 {
  padding-top: 0rem;
}

.pdb-0 {
  padding-bottom: 0rem;
}

.pdr-0 {
  padding-right: 0rem;
}

.pdl-0 {
  padding-left: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.fs-0 {
  font-size: 0rem;
}

.fss-0 {
  font-size: 0rem;
}

.fw-0 {
  font-weight: 0;
}

.m-0 {
  margin: 0rem;
}

.pd-h-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.pd-h-lg-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pd-v-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pd-v-lg-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pd-1 {
  padding: 1rem;
}

.pdt-1 {
  padding-top: 1rem;
}

.pdb-1 {
  padding-bottom: 1rem;
}

.pdr-1 {
  padding-right: 1rem;
}

.pdl-1 {
  padding-left: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.fs-1 {
  font-size: 1rem;
}

.fss-1 {
  font-size: 0.25rem;
}

.fw-1 {
  font-weight: 100;
}

.m-1 {
  margin: 1rem;
}

.pd-h-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pd-h-lg-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pd-v-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pd-v-lg-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pd-2 {
  padding: 2rem;
}

.pdt-2 {
  padding-top: 2rem;
}

.pdb-2 {
  padding-bottom: 2rem;
}

.pdr-2 {
  padding-right: 2rem;
}

.pdl-2 {
  padding-left: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.fs-2 {
  font-size: 2rem;
}

.fss-2 {
  font-size: 0.5rem;
}

.fw-2 {
  font-weight: 200;
}

.m-2 {
  margin: 2rem;
}

.pd-h-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.pd-h-lg-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.pd-v-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pd-v-lg-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pd-3 {
  padding: 3rem;
}

.pdt-3 {
  padding-top: 3rem;
}

.pdb-3 {
  padding-bottom: 3rem;
}

.pdr-3 {
  padding-right: 3rem;
}

.pdl-3 {
  padding-left: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.fs-3 {
  font-size: 3rem;
}

.fss-3 {
  font-size: 0.75rem;
}

.fw-3 {
  font-weight: 300;
}

.m-3 {
  margin: 3rem;
}

.pd-h-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pd-h-lg-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.pd-v-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pd-v-lg-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pd-4 {
  padding: 4rem;
}

.pdt-4 {
  padding-top: 4rem;
}

.pdb-4 {
  padding-bottom: 4rem;
}

.pdr-4 {
  padding-right: 4rem;
}

.pdl-4 {
  padding-left: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.fs-4 {
  font-size: 4rem;
}

.fss-4 {
  font-size: 1rem;
}

.fw-4 {
  font-weight: 400;
}

.m-4 {
  margin: 4rem;
}

.pd-h-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.pd-h-lg-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pd-v-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pd-v-lg-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pd-5 {
  padding: 5rem;
}

.pdt-5 {
  padding-top: 5rem;
}

.pdb-5 {
  padding-bottom: 5rem;
}

.pdr-5 {
  padding-right: 5rem;
}

.pdl-5 {
  padding-left: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.fs-5 {
  font-size: 5rem;
}

.fss-5 {
  font-size: 1.25rem;
}

.fw-5 {
  font-weight: 500;
}

.m-5 {
  margin: 5rem;
}

.pd-h-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pd-h-lg-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.pd-v-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pd-v-lg-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pd-6 {
  padding: 6rem;
}

.pdt-6 {
  padding-top: 6rem;
}

.pdb-6 {
  padding-bottom: 6rem;
}

.pdr-6 {
  padding-right: 6rem;
}

.pdl-6 {
  padding-left: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.ml-6 {
  margin-left: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.fs-6 {
  font-size: 6rem;
}

.fss-6 {
  font-size: 1.5rem;
}

.fw-6 {
  font-weight: 600;
}

.m-6 {
  margin: 6rem;
}

.pd-h-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.pd-h-lg-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.pd-v-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.pd-v-lg-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.pd-7 {
  padding: 7rem;
}

.pdt-7 {
  padding-top: 7rem;
}

.pdb-7 {
  padding-bottom: 7rem;
}

.pdr-7 {
  padding-right: 7rem;
}

.pdl-7 {
  padding-left: 7rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.ml-7 {
  margin-left: 7rem;
}

.mr-7 {
  margin-right: 7rem;
}

.fs-7 {
  font-size: 7rem;
}

.fss-7 {
  font-size: 1.75rem;
}

.fw-7 {
  font-weight: 700;
}

.m-7 {
  margin: 7rem;
}

.pd-h-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pd-h-lg-8 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.pd-v-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pd-v-lg-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.pd-8 {
  padding: 8rem;
}

.pdt-8 {
  padding-top: 8rem;
}

.pdb-8 {
  padding-bottom: 8rem;
}

.pdr-8 {
  padding-right: 8rem;
}

.pdl-8 {
  padding-left: 8rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.ml-8 {
  margin-left: 8rem;
}

.mr-8 {
  margin-right: 8rem;
}

.fs-8 {
  font-size: 8rem;
}

.fss-8 {
  font-size: 2rem;
}

.fw-8 {
  font-weight: 800;
}

.m-8 {
  margin: 8rem;
}

.pd-h-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.pd-h-lg-9 {
  padding-left: 9rem;
  padding-right: 9rem;
}

.pd-v-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.pd-v-lg-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.pd-9 {
  padding: 9rem;
}

.pdt-9 {
  padding-top: 9rem;
}

.pdb-9 {
  padding-bottom: 9rem;
}

.pdr-9 {
  padding-right: 9rem;
}

.pdl-9 {
  padding-left: 9rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.ml-9 {
  margin-left: 9rem;
}

.mr-9 {
  margin-right: 9rem;
}

.fs-9 {
  font-size: 9rem;
}

.fss-9 {
  font-size: 2.25rem;
}

.fw-9 {
  font-weight: 900;
}

.m-9 {
  margin: 9rem;
}

.pd-h-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.pd-h-lg-10 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.pd-v-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pd-v-lg-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.pd-10 {
  padding: 10rem;
}

.pdt-10 {
  padding-top: 10rem;
}

.pdb-10 {
  padding-bottom: 10rem;
}

.pdr-10 {
  padding-right: 10rem;
}

.pdl-10 {
  padding-left: 10rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ml-10 {
  margin-left: 10rem;
}

.mr-10 {
  margin-right: 10rem;
}

.fs-10 {
  font-size: 10rem;
}

.fss-10 {
  font-size: 2.5rem;
}

.fw-10 {
  font-weight: 1000;
}

.m-10 {
  margin: 10rem;
}

.pd-h-11 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.pd-h-lg-11 {
  padding-left: 11rem;
  padding-right: 11rem;
}

.pd-v-11 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.pd-v-lg-11 {
  padding-top: 11rem;
  padding-bottom: 11rem;
}

.pd-11 {
  padding: 11rem;
}

.pdt-11 {
  padding-top: 11rem;
}

.pdb-11 {
  padding-bottom: 11rem;
}

.pdr-11 {
  padding-right: 11rem;
}

.pdl-11 {
  padding-left: 11rem;
}

.mt-11 {
  margin-top: 11rem;
}

.mb-11 {
  margin-bottom: 11rem;
}

.ml-11 {
  margin-left: 11rem;
}

.mr-11 {
  margin-right: 11rem;
}

.fs-11 {
  font-size: 11rem;
}

.fss-11 {
  font-size: 2.75rem;
}

.fw-11 {
  font-weight: 1100;
}

.m-11 {
  margin: 11rem;
}

.pd-h-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.pd-h-lg-12 {
  padding-left: 12rem;
  padding-right: 12rem;
}

.pd-v-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pd-v-lg-12 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.pd-12 {
  padding: 12rem;
}

.pdt-12 {
  padding-top: 12rem;
}

.pdb-12 {
  padding-bottom: 12rem;
}

.pdr-12 {
  padding-right: 12rem;
}

.pdl-12 {
  padding-left: 12rem;
}

.mt-12 {
  margin-top: 12rem;
}

.mb-12 {
  margin-bottom: 12rem;
}

.ml-12 {
  margin-left: 12rem;
}

.mr-12 {
  margin-right: 12rem;
}

.fs-12 {
  font-size: 12rem;
}

.fss-12 {
  font-size: 3rem;
}

.fw-12 {
  font-weight: 1200;
}

.m-12 {
  margin: 12rem;
}

.pd-h-13 {
  padding-left: 3.25rem;
  padding-right: 3.25rem;
}

.pd-h-lg-13 {
  padding-left: 13rem;
  padding-right: 13rem;
}

.pd-v-13 {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.pd-v-lg-13 {
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.pd-13 {
  padding: 13rem;
}

.pdt-13 {
  padding-top: 13rem;
}

.pdb-13 {
  padding-bottom: 13rem;
}

.pdr-13 {
  padding-right: 13rem;
}

.pdl-13 {
  padding-left: 13rem;
}

.mt-13 {
  margin-top: 13rem;
}

.mb-13 {
  margin-bottom: 13rem;
}

.ml-13 {
  margin-left: 13rem;
}

.mr-13 {
  margin-right: 13rem;
}

.fs-13 {
  font-size: 13rem;
}

.fss-13 {
  font-size: 3.25rem;
}

.fw-13 {
  font-weight: 1300;
}

.m-13 {
  margin: 13rem;
}

.pd-h-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.pd-h-lg-14 {
  padding-left: 14rem;
  padding-right: 14rem;
}

.pd-v-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.pd-v-lg-14 {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.pd-14 {
  padding: 14rem;
}

.pdt-14 {
  padding-top: 14rem;
}

.pdb-14 {
  padding-bottom: 14rem;
}

.pdr-14 {
  padding-right: 14rem;
}

.pdl-14 {
  padding-left: 14rem;
}

.mt-14 {
  margin-top: 14rem;
}

.mb-14 {
  margin-bottom: 14rem;
}

.ml-14 {
  margin-left: 14rem;
}

.mr-14 {
  margin-right: 14rem;
}

.fs-14 {
  font-size: 14rem;
}

.fss-14 {
  font-size: 3.5rem;
}

.fw-14 {
  font-weight: 1400;
}

.m-14 {
  margin: 14rem;
}

.pd-h-15 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.pd-h-lg-15 {
  padding-left: 15rem;
  padding-right: 15rem;
}

.pd-v-15 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.pd-v-lg-15 {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.pd-15 {
  padding: 15rem;
}

.pdt-15 {
  padding-top: 15rem;
}

.pdb-15 {
  padding-bottom: 15rem;
}

.pdr-15 {
  padding-right: 15rem;
}

.pdl-15 {
  padding-left: 15rem;
}

.mt-15 {
  margin-top: 15rem;
}

.mb-15 {
  margin-bottom: 15rem;
}

.ml-15 {
  margin-left: 15rem;
}

.mr-15 {
  margin-right: 15rem;
}

.fs-15 {
  font-size: 15rem;
}

.fss-15 {
  font-size: 3.75rem;
}

.fw-15 {
  font-weight: 1500;
}

.m-15 {
  margin: 15rem;
}

.pd-h-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.pd-h-lg-16 {
  padding-left: 16rem;
  padding-right: 16rem;
}

.pd-v-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pd-v-lg-16 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.pd-16 {
  padding: 16rem;
}

.pdt-16 {
  padding-top: 16rem;
}

.pdb-16 {
  padding-bottom: 16rem;
}

.pdr-16 {
  padding-right: 16rem;
}

.pdl-16 {
  padding-left: 16rem;
}

.mt-16 {
  margin-top: 16rem;
}

.mb-16 {
  margin-bottom: 16rem;
}

.ml-16 {
  margin-left: 16rem;
}

.mr-16 {
  margin-right: 16rem;
}

.fs-16 {
  font-size: 16rem;
}

.fss-16 {
  font-size: 4rem;
}

.fw-16 {
  font-weight: 1600;
}

.m-16 {
  margin: 16rem;
}

.pd-h-17 {
  padding-left: 4.25rem;
  padding-right: 4.25rem;
}

.pd-h-lg-17 {
  padding-left: 17rem;
  padding-right: 17rem;
}

.pd-v-17 {
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
}

.pd-v-lg-17 {
  padding-top: 17rem;
  padding-bottom: 17rem;
}

.pd-17 {
  padding: 17rem;
}

.pdt-17 {
  padding-top: 17rem;
}

.pdb-17 {
  padding-bottom: 17rem;
}

.pdr-17 {
  padding-right: 17rem;
}

.pdl-17 {
  padding-left: 17rem;
}

.mt-17 {
  margin-top: 17rem;
}

.mb-17 {
  margin-bottom: 17rem;
}

.ml-17 {
  margin-left: 17rem;
}

.mr-17 {
  margin-right: 17rem;
}

.fs-17 {
  font-size: 17rem;
}

.fss-17 {
  font-size: 4.25rem;
}

.fw-17 {
  font-weight: 1700;
}

.m-17 {
  margin: 17rem;
}

.pd-h-18 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.pd-h-lg-18 {
  padding-left: 18rem;
  padding-right: 18rem;
}

.pd-v-18 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.pd-v-lg-18 {
  padding-top: 18rem;
  padding-bottom: 18rem;
}

.pd-18 {
  padding: 18rem;
}

.pdt-18 {
  padding-top: 18rem;
}

.pdb-18 {
  padding-bottom: 18rem;
}

.pdr-18 {
  padding-right: 18rem;
}

.pdl-18 {
  padding-left: 18rem;
}

.mt-18 {
  margin-top: 18rem;
}

.mb-18 {
  margin-bottom: 18rem;
}

.ml-18 {
  margin-left: 18rem;
}

.mr-18 {
  margin-right: 18rem;
}

.fs-18 {
  font-size: 18rem;
}

.fss-18 {
  font-size: 4.5rem;
}

.fw-18 {
  font-weight: 1800;
}

.m-18 {
  margin: 18rem;
}

.pd-h-19 {
  padding-left: 4.75rem;
  padding-right: 4.75rem;
}

.pd-h-lg-19 {
  padding-left: 19rem;
  padding-right: 19rem;
}

.pd-v-19 {
  padding-top: 4.75rem;
  padding-bottom: 4.75rem;
}

.pd-v-lg-19 {
  padding-top: 19rem;
  padding-bottom: 19rem;
}

.pd-19 {
  padding: 19rem;
}

.pdt-19 {
  padding-top: 19rem;
}

.pdb-19 {
  padding-bottom: 19rem;
}

.pdr-19 {
  padding-right: 19rem;
}

.pdl-19 {
  padding-left: 19rem;
}

.mt-19 {
  margin-top: 19rem;
}

.mb-19 {
  margin-bottom: 19rem;
}

.ml-19 {
  margin-left: 19rem;
}

.mr-19 {
  margin-right: 19rem;
}

.fs-19 {
  font-size: 19rem;
}

.fss-19 {
  font-size: 4.75rem;
}

.fw-19 {
  font-weight: 1900;
}

.m-19 {
  margin: 19rem;
}

.pd-h-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pd-h-lg-20 {
  padding-left: 20rem;
  padding-right: 20rem;
}

.pd-v-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pd-v-lg-20 {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.pd-20 {
  padding: 20rem;
}

.pdt-20 {
  padding-top: 20rem;
}

.pdb-20 {
  padding-bottom: 20rem;
}

.pdr-20 {
  padding-right: 20rem;
}

.pdl-20 {
  padding-left: 20rem;
}

.mt-20 {
  margin-top: 20rem;
}

.mb-20 {
  margin-bottom: 20rem;
}

.ml-20 {
  margin-left: 20rem;
}

.mr-20 {
  margin-right: 20rem;
}

.fs-20 {
  font-size: 20rem;
}

.fss-20 {
  font-size: 5rem;
}

.fw-20 {
  font-weight: 2000;
}

.m-20 {
  margin: 20rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.md-btn {
  padding: 8px 16px;
  background-color: #000000;
  color: #fff;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .md-btn {
    padding: 4px 8px;
    font-size: 0.75rem !important;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

footer {
  color: #707070;
}
@media only screen and (max-width: 768px) {
  footer {
    padding: 0.5rem 1rem !important;
    font-size: 10px !important;
    text-align: left !important;
    line-break: auto;
  }
  footer span::after {
    content: "\a";
    white-space: pre;
  }
}

.row {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.col-10 {
  width: 10%;
}
@media only screen and (max-width: 768px) {
  .col-10 {
    width: 100%;
  }
}

.col-gap-1 {
  column-gap: 1rem;
}

.col-20 {
  width: 20%;
}
@media only screen and (max-width: 768px) {
  .col-20 {
    width: 100%;
  }
}

.col-gap-2 {
  column-gap: 2rem;
}

.col-30 {
  width: 30%;
}
@media only screen and (max-width: 768px) {
  .col-30 {
    width: 100%;
  }
}

.col-gap-3 {
  column-gap: 3rem;
}

.col-40 {
  width: 40%;
}
@media only screen and (max-width: 768px) {
  .col-40 {
    width: 100%;
  }
}

.col-gap-4 {
  column-gap: 4rem;
}

.col-50 {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .col-50 {
    width: 100%;
  }
}

.col-gap-5 {
  column-gap: 5rem;
}

.col-60 {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .col-60 {
    width: 100%;
  }
}

.col-gap-6 {
  column-gap: 6rem;
}

.col-70 {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .col-70 {
    width: 100%;
  }
}

.col-gap-7 {
  column-gap: 7rem;
}

.col-80 {
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .col-80 {
    width: 100%;
  }
}

.col-gap-8 {
  column-gap: 8rem;
}

.col-90 {
  width: 90%;
}
@media only screen and (max-width: 768px) {
  .col-90 {
    width: 100%;
  }
}

.col-gap-9 {
  column-gap: 9rem;
}

.col-100 {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .col-100 {
    width: 100%;
  }
}

.col-gap-10 {
  column-gap: 10rem;
}

.rounded {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #000000;
  color: #FFD100;
  font-weight: 500;
}
.rounded a img {
  padding-top: 10px;
}
@media only screen and (max-width: 768px) {
  .rounded a img {
    padding-top: 0;
  }
}

.inline-block {
  display: inline-block;
}

.c-yllw {
  color: #FFD100;
}

.full-width {
  width: 100%;
}

.post-image-slider {
  overflow-x: auto;
}
.post-image-slider img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.post-image-slider::-webkit-scrollbar {
  height: 20px;
}
@media only screen and (max-width: 768px) {
  .post-image-slider::-webkit-scrollbar {
    height: 10px;
  }
}
.post-image-slider::-webkit-scrollbar-track {
  background-color: #FFD100;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
}
@media only screen and (max-width: 768px) {
  .post-image-slider::-webkit-scrollbar-track {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
  }
}
.post-image-slider::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.align-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.pointer {
  cursor: pointer;
}

.hvr-yllw:hover {
  color: #FFD100;
}

.bg-yellow {
  background-color: #FFD100;
}

.bg-black {
  background-color: #000000;
}

.black {
  color: #000000;
}

.grey {
  color: #999595;
}

.white {
  color: #fff;
}

.white-link {
  color: #999595;
}
.white-link:hover {
  color: #fff;
}
.white-link:visited {
  color: #999595;
}

.justify-sb {
  justify-content: space-between;
}

.td-none {
  text-decoration: none;
}

.footer a {
  color: #000000;
  text-decoration: none;
}

.lh-1 {
  line-height: 1;
}

#map {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .contact-info {
    width: 90% !important;
    text-align: left !important;
  }
  .contact-info h1 {
    font-size: 3rem !important;
    margin-bottom: 21px !important;
  }
  .contact-info p {
    font-size: 12px;
  }
  .contact-info div {
    margin-top: 21px !important;
  }
  .contact-info a {
    margin-top: 1.5rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .contact-map {
    padding-top: 2rem;
    height: 320px;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .single .container {
    width: 100%;
  }
  .single .container .row {
    padding-top: 0.5rem;
    padding-left: 1rem;
    font-size: 10px;
    flex-direction: row;
    padding-bottom: 0;
  }
  .single .container .row .rounded {
    margin-right: 0.5rem;
    width: auto;
    background-color: #fff;
  }
  .single .container .row .rounded a {
    line-height: 58px;
  }
  .single .container .row .rounded a img {
    width: 0.6rem;
    height: 1.2rem;
  }
  .single .container .row a {
    margin-left: 0 !important;
  }
  .single .container .content .header h1 {
    font-size: 1.5rem !important;
    margin-left: 2rem;
  }
  .single .container .content .post-info ul {
    padding-left: 0 !important;
  }
  .single .container .content .post-info ul li .row {
    font-size: 12px !important;
    padding-left: 0 !important;
  }
  .single .container .content .post-info ul li p {
    white-space: nowrap;
  }
  .single .container .content .post-info ul li span {
    margin-left: 2rem !important;
  }
  .single .container .content .post-images {
    margin-left: 0 !important;
    padding-left: 2rem;
    padding-right: 2rem !important;
    padding-right: 0;
  }
  .single .container .content .post-images .row {
    flex-direction: column;
    padding-top: 0 !important;
    padding-left: 0;
  }
  .single .container .content .post-images .post-image-slider {
    flex-direction: row;
    column-gap: 0.5rem;
  }
  .single .container .content .post-images .post-image-slider .col-20 {
    width: 20% !important;
  }
  .single .container .content .post-images .post-image-slider .col-20 img {
    width: 60px;
    height: 60px;
  }
  .single .container .footer {
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding-left: 2rem;
    padding-right: 0;
  }
}
@media only screen and (max-width: 768px) and (max-width: 768px) {
  .single .container .footer {
    padding: 0 1rem !important;
  }
  .single .container .footer .centered {
    display: flex;
    align-items: center;
    height: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .single .container .footer a {
    font-size: 10px !important;
  }
  .single .container .footer a img {
    width: 5px;
    height: 12px;
  }
}
@media only screen and (max-width: 768px) and (max-width: 768px) {
  .single .container .footer a img {
    width: 7px;
    height: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .single .container .footer .fss-6 {
    font-size: 0;
  }
}
@media only screen and (max-width: 768px) {
  .single .container .footer .fs-3 {
    font-size: 0;
  }
  .single .container .footer .fs-3 a {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 768px) {
  .single .container .footer .prev-post {
    padding-left: 0 !important;
  }
  .single .container .footer .prev-post .ml-1 {
    margin-left: 0.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .single .container .footer .next-post .mr-1 {
    margin-right: 0.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .single .container .ml-8 {
    margin-left: 0 !important;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
