@use "mixins";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}

section {
  @include mixins.for-mobile {

    margin-bottom: 3rem !important;
  }
}

.projecten {
  @include mixins.for-mobile {
    width: 100% !important;
    padding: 0 2rem;
    .container {
      width: 100%;
    }
  }
}

#studio {
  @include mixins.for-mobile {
    .container {
      padding-top: 6rem !important;
      padding-bottom: 0 !important;
    }

  }
}

header {
  @include mixins.for-mobile {
    flex-direction: inherit !important;
    padding-left: 1rem !important;

  }
}

.slider-row {
  @include mixins.for-mobile {

    flex-direction: column-reverse !important;
  }
}

.site-nav {
  @include mixins.for-mobile {
    display: none;
  }
}

.slider-row {
  @include mixins.for-mobile {
    flex-direction: column-reverse;
  }
}

.projecten-header {
  @include mixins.for-mobile {
    font-size: 2.5rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include mixins.for-mobile{
    margin-left: 0 !important;
  }
}

img {
  object-fit: fill;
}

li {
  list-style: none;
}

.site-logo {
  width: 30px;
  height: 30px;
}

.border-round {
  border-radius: 50%;
}

.container {
  width: 80%;
  margin: auto;
}

section {
  width: 100%;

  .content {
    position: relative;

    .projecten-list {
      @include mixins.for-mobile{
      ul {
        display: flex;
        padding-left: 0 !important;

        li {
          padding-left: 0 !important;
          padding-right: 1.75rem;
          font-size: 12px;
        }
      }

      }

      .active {
        color: #FFD100;
      }
    }

    .projecten-images {
      .grid-div {
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        @include mixins.for-mobile {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      .active-grid {
        display: grid;
      }

      .image-wrapper {
        position: relative;
        height: auto;

        @include mixins.for-md-desktop {
          height: auto;
        }

        img {
          width: 100%;
          height: 100%;
        }

        .bottom {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          text-align: center;
          width: 100%;
        }

        .img-text {
          background-color: #000000;
          color: white;
          font-size: 16px;
          padding: 20px 32px;
          width: 100%;
          text-align: left;
          @include mixins.for-mobile {
            padding: 2px 12px;
            h2 {
              font-size: 1rem !important;
            }
            p {
              font-size: 0.75rem !important;
            }
          }
        }
      }

      .image-wrapper:hover .bottom {
        opacity: 1;
      }
    }

  }

  .section-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    //top: 30%;
    left: 10%;
    width: 40%;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: start;
    height: 100%;
    z-index: 99;
    //@include mixins.for-md-desktop{
    //  font-size: 1rem;
    //  font-weight: 400;
    //}
    @include mixins.for-mobile {
      width: 100%;
      font-size: 1rem;
      position: static;
    }

    p {
      padding: 1rem;
      //background-color: rgba(0, 0, 0, 0.2);
      @include mixins.for-mobile {
        padding: 1rem 2rem;
      }
    }
  }

  .slider {
    width: 100%;
    margin: auto;
    position: relative;
    font-size: 15px;


    .slides-container {
      position: relative;
      width: 100%;
      height: auto;


      .slider-item {
        width: 100%;
        display: none;

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .slider-item:first-child {
        display: block;
      }
    }

    .pager {
      font-size: 14px;
      font-weight: 900;
      color: #777;
      text-align: left;
      @include mixins.for-mobile {
        padding: 0 2rem;
      }
    }

    .slider-loader {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;

      .loader-wrapper {
        width: 70%;
        height: 100%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include mixins.for-mobile {
          width: 100%;
        }

        .lds-roller {
          display: inline-block;
          position: relative;
          width: 80px;
          height: 80px;
        }

        .lds-roller div {
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          transform-origin: 40px 40px;
        }

        .lds-roller div:after {
          content: " ";
          display: block;
          position: absolute;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.3);
          margin: -4px 0 0 -4px;
        }

        .lds-roller div:nth-child(1) {
          animation-delay: -0.036s;
        }

        .lds-roller div:nth-child(1):after {
          top: 63px;
          left: 63px;
        }

        .lds-roller div:nth-child(2) {
          animation-delay: -0.072s;
        }

        .lds-roller div:nth-child(2):after {
          top: 68px;
          left: 56px;
        }

        .lds-roller div:nth-child(3) {
          animation-delay: -0.108s;
        }

        .lds-roller div:nth-child(3):after {
          top: 71px;
          left: 48px;
        }

        .lds-roller div:nth-child(4) {
          animation-delay: -0.144s;
        }

        .lds-roller div:nth-child(4):after {
          top: 72px;
          left: 40px;
        }

        .lds-roller div:nth-child(5) {
          animation-delay: -0.18s;
        }

        .lds-roller div:nth-child(5):after {
          top: 71px;
          left: 32px;
        }

        .lds-roller div:nth-child(6) {
          animation-delay: -0.216s;
        }

        .lds-roller div:nth-child(6):after {
          top: 68px;
          left: 24px;
        }

        .lds-roller div:nth-child(7) {
          animation-delay: -0.252s;
        }

        .lds-roller div:nth-child(7):after {
          top: 63px;
          left: 17px;
        }

        .lds-roller div:nth-child(8) {
          animation-delay: -0.288s;
        }

        .lds-roller div:nth-child(8):after {
          top: 56px;
          left: 12px;
        }

        @keyframes lds-roller {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }

    .arrows {
      @include mixins.for-mobile {
        display: none;
      }

      a {
        position: absolute;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.65);
        top: 50%;
        left: 15px;
        font-weight: 400;
        line-height: 1;
        font-size: 42px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0 10px;
        transform: translateY(-50%);
      }

      a:hover {
        color: #fff;
      }

      a.next {
        left: initial;
        right: 15px;
      }
    }
  }

  .section-image {
    //height: 700px;
    .loader {
      position: absolute;
      /* text-align: center; */
      left: 50%;
      top: 50%;
      height: 50px;
      width: 50px;
    }

    img {
      object-fit: fill;
      //height: 100%;
    }
  }
}

.dot {
  margin-right: 5px;
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active-dot {
  background-color: #323232;
}

*, ::after, ::before {
  box-sizing: border-box;
}


.studio-image {
  img {
    width: 100%;
  }
}

.content-text {
  position: relative;

  h1 {
    color: #fff;
    font-size: 15rem;
    transform: translateX(-18rem);
    margin: 0;
    @include mixins.for-md-desktop {
      font-size: 12rem;
      transform: translateX(-14rem);
    }
    @include mixins.for-mobile {
      font-size: 24vw;
      transform: translateY(-86vw);

    }
  }

  p {
    @include mixins.for-md-desktop {
      margin: 0;
    }
  }

  .visie-text {
    @include mixins.for-mobile {
      padding-left: 0 !important;
      transform: translateY(-5rem);
      width: 90%;
      h2 {
        font-size: 1.25rem !important;
        padding-bottom: 1rem;
      }
      p {
        font-size: 12px !important;
        padding-left: 0 !important;
      }
    }
  }

  .content-text__info-button-wrapper {
    @include mixins.for-mobile {
      padding-left: 0 !important;
    }
  }
}

@for $i from 0 through 20 {
  $value: $i ;
  .pd-h-#{$i} {
    padding-left: $value / 4 +rem;
    padding-right: $value / 4 +rem;
  }
  .pd-h-lg-#{$i} {
    padding-left: $value +rem;
    padding-right: $value +rem;
  }
  .pd-v-#{$i} {
    padding-top: $value / 4 +rem;
    padding-bottom: $value / 4 +rem;
  }
  .pd-v-lg-#{$i} {
    padding-top: $value  +rem;
    padding-bottom: $value +rem;
  }
  .pd-#{$i} {
    padding: $value +rem;
  }
  .pdt-#{$i} {
    padding-top: $value +rem;
  }
  .pdb-#{$i} {
    padding-bottom: $value +rem;
  }
  .pdr-#{$i} {
    padding-right: $value +rem;
  }
  .pdl-#{$i} {
    padding-left: $value +rem;
  }
  .mt-#{$i} {
    margin-top: $value +rem;
  }
  .mb-#{$i} {
    margin-bottom: $value +rem;
  }
  .ml-#{$i} {
    margin-left: $value +rem;
  }
  .mr-#{$i} {
    margin-right: $value +rem;
  }
  .fs-#{$i} {
    font-size: $value +rem;
  }
  .fss-#{$i} {
    font-size: $value /4 +rem;
  }
  .fw-#{$i} {
    font-weight: $i * 100;
  }
  .m-#{$i} {
    margin: $i +rem;
  }
}

.mt-05 {
  margin-top: 0.5rem;
}

.md-btn {
  padding: 8px 16px;
  background-color: #000000;
  color: #fff;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  @include mixins.for-mobile {
    padding: 4px 8px;
    font-size: 0.75rem !important;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


footer {
  color: #707070;
  @include mixins.for-mobile {
    span::after {
      content: "\a";
      white-space: pre;
    }
    padding: 0.5rem 1rem !important;
    font-size: 10px !important;
    text-align: left !important;
    line-break: auto;
  }
}

.row {
  display: flex;
  flex-direction: row;
  @include mixins.for-mobile {
    flex-direction: column;
  }

}

@for $i from 1 through 10 {
  $value: $i * 10 ;
  .col-#{$value} {
    width: #{$value} + '%';
    @include mixins.for-mobile {
      width: 100%;
    }
  }
  .col-gap-#{$i} {
    column-gap: $i +rem;
  }
}

.rounded {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #000000;
  color: #FFD100;
  font-weight: 500;

  a {
    img{
      padding-top: 10px;
      @include mixins.for-mobile{
        padding-top: 0;
      }
    }
  }
}

.inline-block {
  display: inline-block;
}

.c-yllw {
  color: #FFD100;
}

.full-width {
  width: 100%;
}

.post-image-slider {
  overflow-x: auto;

  img {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }

  &::-webkit-scrollbar {
    height: 20px;
    @include mixins.for-mobile {
      height: 10px;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #FFD100;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    @include mixins.for-mobile {
      border-top: 4px solid white;
      border-bottom: 4px solid white;
    }

  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #000000;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
}

.align-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.pointer {
  cursor: pointer;
}

.hvr-yllw {
  &:hover {
    color: #FFD100;
  }
}

// bg colors
.bg-yellow {
  background-color: #FFD100;
}

.bg-black {
  background-color: #000000;
}

// colors
.black {
  color: #000000;
}

.grey {
  color: #999595;
}

.white {
  color: #fff;
}

.white-link {
  color: #999595;

  &:hover {
    color: #fff;
  }

  &:visited {
    color: #999595;
  }
}

.justify-sb {
  justify-content: space-between;
}

.td-none {
  text-decoration: none;
}

.footer {
  a {
    color: #000000;
    text-decoration: none;
  }
}

.lh-1 {
  line-height: 1;
}

#map {
  height: 100%;
}

.contact-info {
  @include mixins.for-mobile {
    width: 90% !important;
    text-align: left !important;
    h1 {
      font-size: 3rem !important;
      margin-bottom: 21px !important;
    }
    p{
      font-size: 12px;
    }

    div {
      margin-top: 21px !important;
    }
    a {
      margin-top: 1.5rem !important;
    }
  }
}

.contact-map {
  @include mixins.for-mobile {
    padding-top: 2rem;
    height: 320px;
    margin-left: 0 !important;
  }
}

.single {
  @include mixins.for-mobile {
    .container {
      width: 100%;

      .row {
        padding-top: 0.5rem;
        padding-left: 1rem;
        font-size: 10px;
        .rounded {
          margin-right: 0.5rem;
          width: auto;
          background-color: #fff;
          a{
            line-height: 58px;
            img{
              width: 0.6rem;
              height: 1.2rem;
            }
            //font-size: 2.5rem;
          }
        }

        a {
          margin-left: 0 !important;
        }

        flex-direction: row;
        padding-bottom: 0;
      }

      .content {
        .header {
          h1 {
            font-size: 1.5rem !important;
            margin-left: 2rem;
          }
        }

        .post-info {

          ul {
            padding-left: 0 !important;

            li {

              .row{
                font-size: 12px !important;
                padding-left: 0 !important;
              }
              p{
                white-space: nowrap;
              }

              span {
                margin-left: 2rem !important;

              }
            }
          }
        }

        .post-images {
          margin-left: 0 !important;
          padding-left: 2rem;
          padding-right: 2rem !important;
          padding-right: 0;

          .row {
            flex-direction: column;
            padding-top: 0 !important;
            padding-left: 0;
          }

          .post-image-slider {
            flex-direction: row;
            column-gap: 0.5rem;

            .col-20 {
              width: 20% !important;

              img {
                width: 60px;
                height: 60px;
              }
            }
          }
        }
      }

      .footer {
        @include mixins.for-mobile{
          padding:0 1rem !important;
          .centered{
            display: flex;
            align-items: center;
            height: 14px;
          }
        }

        margin-left: 0 !important;
        margin-top: 0 !important;
        padding-left: 2rem;
        padding-right: 0;

        a {
          font-size: 10px !important;
          img{
            width: 5px;
            height: 12px;
            @include mixins.for-mobile{
              width: 7px;
              height: 14px;
            }

          }
        }

        .fss-6 {
          font-size: 0;
        }

        .fs-3 {
          font-size: 0;
          a{
            font-size: 20px !important;
          }
        }

        .prev-post {
          padding-left: 0 !important;
          .ml-1 {
            margin-left: 0.5rem;
          }
        }

        .next-post {
          .mr-1 {
            margin-right: 0.5rem;
          }
        }
      }

      .ml-8 {
        margin-left: 0 !important;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
      }
    }
  }

}